@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.fav-games-menu.active,
.user-menu.active,
.cart-menu.active,
.search-form.active,
.currency-form.active,
.language-form.active {
  height: 40px;
  visibility: visible;
  overflow: visible;
}

.currency-form.active,
.language-form.active {
  height: auto;
  border: 2px solid gainsboro
}

.library-game:hover .play {
  opacity: .5;
}

.offer::after {
  content: "";
  flex: 0 0 32%;
}

.prices.hide {
  display: none;
}

.accound-details input.active {
  background-color: rgb(31 41 55);
  color: white;
}
