@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.fav-games-menu.active,
.user-menu.active,
.cart-menu.active,
.search-form.active {
  height: 40px;
}

.library-game:hover .play {
  opacity: .5;
}

.offer::after {
  content: "";
  flex: 0 0 32%;
}

.prices.hide {
  display: none;
}
