@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.nav-container.active {
  height: 88px;
  visibility: visible;
}

.fav-container.active,
.user-container.active,
.cart-menu.active,
.search-form.active,
.currency-form.active,
.language-form.active {
  height: 55px;
  visibility: visible;
}

.user-container.active {
  overflow: visible;
}

.filters-container.active,
.gamesLists .games.active,
.gamesLists.active {
  max-height: 10000px;
}

.gamesLists h1:hover svg {
  display: block;
}

.bestsellers.active .products,
.promotions.active .products {
  bottom: 0px;
  opacity: 1
}

.library-game:hover .play {
  opacity: .5;
}

.offer::after {
  content: "";
  flex: 0 0 32%;
}

.prices.hide {
  display: none;
}

.arrow-left:hover,
.arrow-right:hover {
  background-color: rgba(0, 0, 0, .1);
}

.accound-details input.active,
.comments-container .menu ul li.active {
  background-color: rgb(31 41 55);
  color: white;
}

.star:hover~.star svg,
.star:hover svg {
  color: red
}
